/* You can add global styles to this file, and also import other style files */


body {
    background: #000;
}
.control_lines {
    stroke: #2870bd;
}

.editorControls {
    z-index: 2000;
}

.point {
    &.control {
        fill: #2870bd;
    }
}

path {
    &:hover {
        stroke: #0000ff;
        stroke-width: 4;
    }
}

svg {
    &.pen-cursor {
        cursor: url("/assets/cursor/pen.png"), auto;
    }

    &.curve-cursor {
        cursor: url("/assets/cursor/pen-curve.png"), auto;
    }

    &.pen-minus {
        cursor: url("/assets/cursor/pen-minus.png"), auto;
    }
}
