@if (timeline) {
    <div class="timeline-container">
        <div class="label-group">
            <div class="label-ruler">
                @if (timelineService.gsapTimeline.paused()) {
                    <p-button
                        size="small"
                        icon="pi pi-play"
                        (onClick)="timelineService.gsapTimeline.play()"
                        [rounded]="true"
                        [outlined]="true"
                    />
                } @else {
                    <p-button
                        size="small"
                        icon="pi pi-pause"
                        (onClick)="timelineService.gsapTimeline.pause()"
                        [rounded]="true"
                        [outlined]="true"
                    />
                }
            </div>

            @for (group of timeline.groups; track group) {
                <div class="group label" (click)="group.expanded = !group.expanded">
                    {{ group?.name }}
                </div>

                @if (group.expanded) {
                    @for (track of group.tracks; track track) {
                        <div class="track label">
                            {{ track?.name }}
                        </div>
                    }
                }
            }

            <div class="track-footer"></div>
        </div>

        <div class="track-group">
            <div
                class="scroll-indicator"
                [style.transform]="'translateX(' + timeline.pixelsPerMilliseconds * timeline.position + 'px)'"
            ></div>

            <timeline-ruler
                (dragging)="onScrubDragged($event)"
                [position]="timeline.position"
                [pixelsPerMilliseconds]="timeline.pixelsPerMilliseconds"
                [style.width]="timeline.pixelsPerMilliseconds * timeline.duration + 'px'"
                (onPosition)="timelineService.updatePosition($event)"
            ></timeline-ruler>

            @for (group of timeline.groups; track group) {
                <div class="group" [style.width]="timeline.pixelsPerMilliseconds * timeline.duration + 'px'"></div>

                @if (group.expanded) {
                    @for (track of group.tracks; track track) {
                        <div class="track" [style.width]="timeline.pixelsPerMilliseconds * timeline.duration + 'px'">
                            @for (tween of track.tweens; track $index) {
                                <div
                                    class="tween"
                                    (contextmenu)="onTweenContextMenu($event, tween)"
                                    [style.transform]="'translateX(' + tween.start.time * timeline.pixelsPerMilliseconds + 'px)'"
                                    [style.width]="(tween.end.time - tween.start.time) * timeline.pixelsPerMilliseconds + 'px'"
                                ></div>
                            }

                            @for (keyframe of track.keyframes; track keyframe) {
                                <div
                                    class="keyframe"
                                    draggable
                                    (dragging)="onKeyframeDragged($event, keyframe)"
                                    [style.transform]="'translateX(' + keyframe.time * timeline.pixelsPerMilliseconds + 'px)'"
                                >
                                    <div class="diamond"></div>
                                </div>
                            }
                        </div>
                    }
                }
            }
            <div class="track-footer"></div>
        </div>
    </div>
}

<p-dialog header="Select easing" [modal]="true" [(visible)]="eadingDialogVisible" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-5">Update your information.</span>

    <div class="flex align-items-center gap-3 mb-5">
        @if (selectedCMTween?.start) {
            <p-dropdown appendTo="body" [options]="easings" [(ngModel)]="$any(selectedCMTween).start.easing" placeholder="Select easing" />
        }
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (onClick)="eadingDialogVisible = false" />
        <p-button label="Save" (onClick)="timelineService.updated(); eadingDialogVisible = false" />
    </div>
</p-dialog>

<p-contextMenu #cm [model]="items" appendTo="body" />
