



@let ani = animatable();

@if (ani) {

    @for(prop of ani.properties; track $index) {
        @if(prop.type === 'number') {
        <div class="property-group">
            <div class="input-group">
                <label>{{prop.displayName}}</label
                ><input (ngModelChange)="coordinator.propertyChanged(prop.name, $event)" type="text" [(ngModel)]="coordinator.selectedProperties[prop.name]" />
            </div>
        </div>
        } @else if(prop.type === 'color') {
            <div class="property-group">
                <div class="input-group">
                    <input
                        class="color-input"
                        type="color"
                        id="head"
                        name="head"
                        (ngModelChange)="coordinator.propertyChanged(prop.name, $event)"
                        [(ngModel)]="coordinator.selectedProperties[prop.name]"
                    />
            
                    <input
                        (ngModelChange)="coordinator.propertyChanged(prop.name, $event)"
                        type="text"
                        [(ngModel)]="coordinator.selectedProperties[prop.name]"
                    />
                </div>
            </div>
        }
    }
}


<div class="property-group">
    <div class="input-group">
        <label>x</label
        ><input (ngModelChange)="coordinator.propertyChanged('x', $event)" type="text" [(ngModel)]="coordinator.selectedProperties.x" />
    </div>
    <div class="input-group">
        <label>y</label
        ><input (ngModelChange)="coordinator.propertyChanged('y', $event)" type="text" [(ngModel)]="coordinator.selectedProperties.y" />
    </div>
</div>

<div class="property-group">
    <div class="input-group">
        <label>W</label
        ><input
            (ngModelChange)="coordinator.propertyChanged('width', $event)"
            type="text"
            [(ngModel)]="coordinator.selectedProperties.width"
        />
    </div>
    <div class="input-group">
        <label>H</label
        ><input
            (ngModelChange)="coordinator.propertyChanged('height', $event)"
            type="text"
            [(ngModel)]="coordinator.selectedProperties.height"
        />
    </div>
</div>

<div class="property-group">
    <div class="input-group">
        <label>R</label
        ><input
            (ngModelChange)="coordinator.propertyChanged('rotation', $event)"
            type="text"
            [(ngModel)]="coordinator.selectedProperties.rotation"
        />
    </div>
</div>

<div class="property-group">
    <div class="input-group">
        <label>R</label
        ><input
            (ngModelChange)="coordinator.propertyChanged('borderRadius', $event)"
            type="text"
            [(ngModel)]="coordinator.selectedProperties.borderRadius"
        />
    </div>
</div>

<div class="property-group">
    <div class="input-group">
        <input
            class="color-input"
            type="color"
            id="head"
            name="head"
            (ngModelChange)="coordinator.propertyChanged('background', $event)"
            [(ngModel)]="coordinator.selectedProperties.background"
        />

        <input
            (ngModelChange)="coordinator.propertyChanged('background', $event)"
            type="text"
            [(ngModel)]="coordinator.selectedProperties.background"
        />
    </div>
</div>
