:host {
    display: block;
    color: #dedede;
    background: #2c2c2c;
    border-left: solid 1px #424242;
    padding: 10px;
}

input {
    width: 60px;
}

.property-group {
    display: flex;
    margin-bottom: 5px;
    gap: 10px;
}

.input-group {
    display: flex;
    background: #383838;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 3px;

    &:focus-within {
        border: solid 1px #0c8ce9;
    }

    label {
        display: block;
        width: 20px;
        color: #C3C3C3;
    }
    input {
        background: transparent;
        border: none;
        &:focus {
          outline: none;
        }
    }
}


.color-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
}

input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 20px;
  padding: 0;
  width: 20px;
}