:host {
    display: block;
    position: relative;
    height: 30px;
    border-bottom: solid 1px #424242

}

tspan {
    font-family: sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 12px;
    text-anchor: start;
    dominant-baseline: text-before-edge;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    fill: #9299a8;
}

.scrubber {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1px;
    .knob {
        position: absolute;
        left: -10px;
        bottom: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #0000ff;
    }
}
