:host {
    display: block;
    width: 100vw;
    height: 100vh;
}

path {
    &:hover {
        stroke: #0000ff;
    }
}
.point {
    position: absolute;
    top: 0;
    left: 0;


    .inner {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-5px, -5px);
        width: 10px;
        height: 10px;
        background: #666;
        border-radius: 100%;

        &:hover {
            transform: scale(1.2) translate(-5px, -5px);
        }
    }

    &.control {
        .inner {

            
            transform: translate(-3px, -3px);

            background: #0000ff30;
            width: 6px;
            height: 6px;

            &:hover {
                transform: scale(1.4) translate(-3px, -3px);
            }
        }

        z-index: 100;
    }
}
